<div class="page-title"><%= @name %></div>

<div class="row">
    <%= for product <- @products do %>
        <%= render MangoWeb.ProductView, "product_card.html", product: product, conn: @conn %>
    <% end %>
</div>